<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs') %>

  <body>
    <header class="main-header">
      <%- include('includes/navigation.ejs') %>
    </header>

    <main>
      <% if (prods.length > 0) { %>
      <div class="grid">
        <% for (let product of prods) { %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%= product.title %></h1>
          </header>
          <div class="card__image">
            <img
              src="https://images.unsplash.com/photo-1576872381149-7847515ce5d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80"
              alt="book"
            />
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <h1>No products found</h1>
      <% } %>
    </main>
  </body>
</html>
